<!DOCTYPE html>
<div class="row">
   <div class="col-md-8 offset-md-2">
    <h4>投稿一覧</h4>

<% @tweets.each do |f| %>
<div class="card w-50 mx-auto mt-4 shadow-lg">
 <div class="card-body">
  <div class="row">
   <div class="col-md-8 offset-md-2">

     <p class="card-title">
       <%= link_to(admin_tweet_path(f.id), class:"text-dark") do %>
       <strong><i class="fa fa-beer"></i><span> <%= f.bar.bar_name %></span></strong>
       <% end %>
     </p>
     <p class="card-text"><%= f.title %></p>
     <p class="card-text"><%= f.body %></p>
     <p class="card-text"><%= f.genre.name %></p>
      <span><i class="fas fa-comment"></i> <%= "#{f.tweet_comments.count} コメント" %> ｜ </span>
      <span>♡<%= f.favorites.count %> いいね</span>

   </div>
  </div>
 </div>
</div>
<% end %>