<div class="container">
 <div class="row">
  <div class="col-md-8 offset-md-2">

  <h5>投稿一覧</h5>
    <table class="table table-striped">
      <tr>
      <th>会員ID</th>
      <th>店名</th>
      <th>タイトル</th>
      <th>投稿内容</th>
      <th></th>
      <th></th>
     </tr>
   <% @tweets.each do |f| %>
      <tr>
        <td><%= f.id %></td>
<!--モデルに追加-->
        <td><%= f.bar.bar_name %></td>
        <td><%= link_to f.title,admin_tweet_path(f.id),class: "underline" %></td>
        <td><%= f.body %></td>
        <td><%= f.tweet_comments.count %>コメント</td>
        <td><%= f.favorites.count %> いいね</td>
      </tr>
　 <% end %>
   </table>
  </div>
 </div>
</div>
