<div class="card w-50 mx-auto mt-4 shadow-lg">
 <div class="card-body">
  <div class="row">
   <div class="col-md-8 offset-md-2">
      <h4>投稿詳細</h4>
     <p class="card-text"><%= @tweet.title %></p>
     <p class="card-text"><%= @tweet.body %></p>
     <p class="card-text"><%= @tweet.genre.name %></p>
      <span><i class="fas fa-comment"></i> <%= "#{@tweet.tweet_comments.count} コメント" %> ｜ </span>
      <span>♡<%= @tweet.favorites.count %> いいね</span>
            <%= link_to "削除", admin_tweet_path, method: :delete,class: "btn btn-sm btn-danger" %>


   </div>
  </div>
 </div>
</div>

<div class="card w-50 mx-auto mt-4 shadow-lg">
 <div class="card-body">
  <div class="row">
   <div class="col-md-6 offset-md-3">
      <h4>コメント一覧</h4>
    <% @tweet.tweet_comments.each do |tweet_comment| %>
    <p><%= tweet_comment.user.name_first %>|<%= tweet_comment.created_at.strftime('%Y/%m/%d') %></p>
    <p><%= tweet_comment.comment %></p>
     <p><%= link_to "削除", admin_tweet_path, method: :delete %></p>
    <p>.................</p>
    <% end %>
   </div>
  </div>
 </div>
</div>