<p><strong><%= @bar.bar_name %>レビュー一覧 </strong></p>

 <p>レビュー件数：<%= @bar.reviews.count %></p>

    <% @reviews.each do |review| %>
    <%= review.user.name_first %>
    <%= review.created_at.strftime('%Y/%m/%d') %>
    <%= review.post %>

    <div class="review-rating" data-score="<%= review.star %>">評価：<div id="review-star-<%= review.id %>"></div></div>
    <%= link_to "削除",  admin_bar_review_path(review.bar, review), method: :delete %>
     <script>
    $("#review-star-<%= review.id %>").raty({
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        score: "<%= review.star %>",
        readOnly: true
    });
</script>
    <% end %>
  </div>