<div class="container">
 <div class="row">
  <div class="col-md-8 offset-md-2">
    <h5><strong><%= @bar.bar_name %>の詳細</strong></h5>
    <p>
      <%= link_to(bar_reviews_path(@bar.id), class:"text-dark") do %>
      レビュー件数：<%= @bar.reviews.count %>
      <% end %>
    </p>

    <p>レビュー評価：<%= @bar.reviews.count %></p>

   <div>
    <%= form_with model: [@bar, @review] do |f| %>
    <%= f.text_area :post, rows: '7', placeholder: "レビューをここに" %>

    <div id="rating-form">
        <label>評価：</label>
        <%# scoreNameの値をhidden_fieldでカラムに送っている %>
        <%= f.hidden_field :star, :value => 'score' %>
    </div>

    <%= f.submit "送信する" %>
    <% end %>

    <script>
    $('#rating-form').raty({
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        scoreName: 'review[star]'
    });
</script>
  </div>
 </div>
</div>


   <% @tweets.each do |f| %>
<div class="card w-50 mx-auto mt-4 shadow-lg">
 <div class="card-body">
  <div class="row">
   <div class="col-md-8 offset-md-2">

      <p class="card-title">
       <%= link_to(tweet_path(f.id), class:"text-dark") do %>
       <strong><i class="fa fa-beer"></i><span> <%= f.bar.bar_name %></span></strong>
       <% end %>
      </p>
      <p class="card-text"><%= f.title %></p>
      <p class="card-text"><%= f.body %></p>
      <span>
        <i class="fas fa-comment"></i> <%= "#{f.tweet_comments.count} コメント" %> ｜
      </span>
      <span>
        <% if f.favorited_by?(current_user) %>
          <td>
             <%= link_to tweet_favorites_path(f), method: :delete do %>
              ♥<%= f.favorites.count %> いいね
              <% end %>
          </td>
        <% else %>
          <td>
              <%= link_to tweet_favorites_path(f), method: :post do %>
              ♡<%= f.favorites.count %> いいね
              <% end %>
          </td>
        <% end %>
      </span>
   </div>
  </div>
 </div>
</div>
   <% end %>


