<h2>会員情報編集</h2>
<% if @user.errors.any? %>
  <%= @user.errors.count %>件の未記入がありました
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
  <%= form_with model: @user, url: users_update_path, method: :patch do |f| %>
    <div class="field">
      氏名
      <%= f.text_field :name_first, autofocus: true %>
      <%= f.text_field :name_second %>
    </div>

    <div class="field">
      フリガナ
      <%= f.text_field :name_firdt_rubi %>
      <%= f.text_field :name_second_rubi %>
    </div>

    <div class="field">
      <%= f.label :電話番号（ハイフンなし）　 %>
      <%= f.text_field :tel %>
    </div>

    <div class="field">
      <%= f.label :email　　　　　　　　　　　 %>
      <%= f.email_field :email %>
    </div>


    <div class="actions text-center">
      <%= f.submit "　　編集内容を保存　　", class: "btn btn-success" %>
      <%= link_to "　退会する　", users_confirm_path,class: "btn btn-danger" %>
    </div>
  <% end %>
