<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h4><strong><%= "#{@user.name_first}#{@user.name_second}" %>さんの会員詳細</strong></h4>

  　　 <%= form_with model: @user, url: admin_user_path(@user.id), method: :patch do |f| %>
<div class="mt-4 shadow-lg px-5 py-5 mt-4">
  <table class="table　table-borderless table-sm ml-5">
  <div class="field">
    <tr>
    <div class="field">
      <th>会員ID</th><td><%= @user.id %></td>
    </div>
    </tr>
  </div>

  <div class="field">
    <tr>
      <th><%= f.label :"名前" %></th>
      <td><%= f.text_field :name_first %></td>
      <td><%= f.text_field :name_second %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
      <th><%= f.label :"フリガナ" %></th>
      <td><%= f.text_field :name_firdt_rubi %></td>
      <td><%= f.text_field :name_second_rubi %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
      <th><%= f.label :"電話番号" %></th>
      <td><%= f.text_field :tel %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
      <th><%= f.label :"メールアドレス" %></th>
      <td><%= f.text_field :email %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
      <th></th>
      <label>
        <td><%= f.radio_button :is_deleted, false, checked: true %>
        有効</td>
        <td><%= f.radio_button :is_deleted, true%>
        退会</td>
      </label>
    </tr>
  </div>
  </table>
</div>
  <div class="actions mt-3 text-center">
    <%= f.submit "変更を保存", class: "btn btn-success mt-2" %>
  </div>
<% end %>
　　</div>
　</div>
</div>