<% @tweets.each do |f| %>
<div class="card w-50 mx-auto mt-4 shadow-lg">
 <div class="card-body">
  <div class="row">
   <div class="col-md-8 offset-md-2">

     <p class="card-title">
       <%= link_to(tweet_path(f.id), class:"text-dark") do %>
       <strong><i class="fa fa-beer"></i><span> <%= f.bar.bar_name %></span></strong>
       <% end %>
     </p>
     <p class="card-text"><%= f.title %></p>
     <p class="card-text"><%= f.body %></p>

     <span><i class="fas fa-comment"></i> <%= "#{f.tweet_comments.count} コメント" %> ｜ </span>
     <span><% if f.favorited_by?(current_user) %>
       <td>
        <%= link_to tweet_favorites_path(f), method: :delete do %>
        <i class="text-danger">♥</i><%= f.favorites.count %> いいね
        <% end %>
       </td>
        <% else %>
       <td>
        <%= link_to tweet_favorites_path(f), method: :post do %>
        ♡<%= f.favorites.count %> いいね
        <% end %>
       </td>
        <% end %>
     </span>
   </div>
  </div>
 </div>
</div>
<% end %>


