<!DOCTYPE html>
<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>投稿編集</h2>
      <%= form_with model: @tweet, url: bar_tweet_path(@tweet.id), method: :patch do |f|  %>
      <tbody>
        <tr>
          <th>
            <h5>タイトル
            　<%= f.text_field :title %>
            </h5>
          </th>
          <th>
            <h5>投稿内容
            　<%= f.text_field :body, class:"w-75" %>
            </h5>
          </th>
          <th>
            <h5>ジャンル
            　<%= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: "---"}, class:"w-75" %>
            </h5>
          </th>
          <%= f.submit '変更を保存', class:"btn btn-success" %>
      <% end %>
      </tbody>
    </div>
  </div>
</div>