
<!DOCTYPE html>
<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>新規投稿</h2>
<%# if @tweet.errors.any? %>
  <%#= @tweet.errors.count件の未記入がありました %>
  <%#<ul>
    <% @tweet.errors.full_messages.each do |message| %>
      <%#<li><%= message %>
    <%# end %>

<%# end %>
            <%= form_with model: @tweet, url: bar_tweets_path, method: :post do |tweet| %>
        <tbody>
          <tr>
            <td>
              <h5>
              タイトル
              　<%= tweet.text_field :title %>
              </h5>
            </td>

            <td>
              <h5>
              投稿内容
                　<%= tweet.text_area :body %>
              </h5>
            </td>

            <td>
              <h5>
                ジャンル
                　<%= tweet.collection_select :genre_id, Genre.all, :id, :name, {include_blank: "---"}, class:"w-50" %>
              </h5>
            </td>
            
            <td>
              <h5>
                画像
                <%= tweet.file_field :image, accept: "image/*" %>
              </h5>
            </td>

         </tr>
               <%= tweet.submit '新規登録', class:"btn btn-success" %>
               <% end %>
        </tbody>
    </div>
  </div>
</div>